// Place all the styles related to the new controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid {
  display: inline;
}

.letter {
  color: white;
  background-color: #4d97d6;
  padding: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

table {
  margin: auto;
}
